


/*location&Contact*/
iframe {
  display: none;
}


/*Gallery*/
* {
  box-sizing: border-box;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (min-width: 800px) {
  /* Gallery */
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
  /*location&Contact*/
  iframe {
    display: inline-block;
  }
  .open {
    display: none;
  }
}


@media screen and (min-width: 1280px) {
  /* Gallery */
  .gallery-column {
    flex: 25%;
    max-width: 25%;
  }
  /*location&Contact*/
  iframe {
    display: inline-block;
  }
  .open {
    display: none;
  }
}
