html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  font-size: 20px;
  font-family: Arial;
  color: #ffbf00;

}

main{
  background: #ffbf00;
  background: -webkit-linear-gradient(#ffbf00, #FFFEBC, #FE9A9A);
  background:    -moz-linear-gradient(#ffbf00, #FFFEBC, #FE9A9A);
  /* background:         linear-gradient(#ffbf00, #FFFEBC, #FE9A9A); */
  background: #454545;
}

h2{
  font-family: 'Fascinate Inline', cursive;
}

p{
  line-height: 1.5em;

}
/* skit to the content */
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s none;
  transition: top 1s none;
  z-index: 1;
}

.skip a:focus{
  top:0;
}

/* Navbar */

.nav{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  /* background: #fff; */
  border-bottom: 3px solid #000;
  background: #fff;
  font-family: 'Fascinate Inline', cursive;
  line-height: 1.5em;
}

.nav-links{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav-item a{
  color: black;
  text-decoration: none;
  margin: 3px auto;
}

.nav-item a:hover{
  background-color: #ffbf00;
}

.nav-item a:focus{
  border: 3px solid #ffbf00;
}

.active-page {
  border-bottom: 3px solid #FE9A9A;


}


/* about */
.intro{
  /* margin: 70px; */
  border: 10px solid #ffbf00 ;
  padding: 10px;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 1);
}
.intro > h3{
  font-size: 24px;
}

.about-container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-row-gap: 15px;
  grid-template-rows: 100px auto auto auto 70px;
  width: 100%;

}

.slogan{
  text-align: center;
  vertical-align: middle;
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 24px;
  font-family: 'Rock Salt', cursive;
  margin: 30px;
}
footer{
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  border-top: 3px solid #000;
  padding: 10px;
  color: #454545;
}

#intro-1 {
  grid-column: 2 / 3;
  grid-row: 2;
  color: #454545;
}
#intro-2 {
  grid-column: 2;
  grid-row: 3;
  color: #454545;
}
#intro-3 {
  grid-column: 2;
  grid-row: 4;
  color: #454545;
}

.flip-card-front-1, .flip-card-front-2, .flip-card-front-3{
  font-weight: bold;
}


/* menu */
.menu-container {
  display: grid;
  width: 100%;
  grid-template-columns: 30px auto 30px;
  /* grid-template-rows: 150px 30px 30px auto repeat(9, auto); */
  min-height: 1.5em;
  grid-row-gap: 15px;
}

.menu-small{
  /* visibility: visible; */
  display: block;
}

.menu-small :first-child{
  font-weight: bold;
}

.menu-container > img {
  display: none;
}

.menu-container > h2{
  grid-column: 2 / -1;
  grid-row: 2;
}
.menu-container > p{
  grid-column: 2 / -1;
  grid-row: 3;
}
/* .menu-container > .ninja-tricks{
  grid-column: 2;
  grid-row: 4;
} */
.milk-tea-small{
  grid-column: 2;
  grid-row: 4;
}
.fruit-tea-small{
  grid-column: 2;
  grid-row: 5;
}
.ninja-dairy-small{
  grid-column: 2;
  grid-row: 6;
}
.ninja-oolong-small{
  grid-column: 2;
  grid-row: 7;
}
.slush-small{
  grid-column: 2;
  grid-row: 8;
}
.toppings{
  grid-column: 2;
  grid-row: 9;
}
.sugar-level{
  grid-column: 2;
  grid-row: 10;
}
.ice-level{
  grid-column: 2;
  grid-row: 11;
}


/*location&Contact*/
iframe {
  display: none;
}

.lc-container{
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-row-gap: 15px;
  grid-template-rows: 100px auto auto auto 15px;
  width: 100%;
}

.location{
  grid-column: 2;
  grid-row: 2;
}
.location > a{
  color: #ffbf00;
}
.hours{
  grid-column: 2;
  grid-row: 3;
}
.contact{
  grid-column: 2;
  grid-row: 4;
}

/* form */
input, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button{
  background-color: #ffbf00;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #878787;
  color: white;
}

/*Gallery*/
.gallery-container{
  box-sizing: border-box;
  display: inline-block;

}
.gallery-container >h2{
  margin-left: 50px;
}

.gallery-row {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  /* grid-row: 3;
  grid-column: 2; */
}
/*
.gallery-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
} */

.gallery-row img {
  margin-top: 5px;
  vertical-align: middle;
  width: 100%;

}


@media screen and (min-width: 600px) {
  /* Navbar */

  .nav{
    -webkit-box-orient: horizontal;
            flex-direction: row;
  }

  .nav-links{
    -webkit-box-orient: horizontal;
            flex-direction: row;
  }

  .nav-item a{
    padding: 10px;
  }

/* menu */


.menu-container{
  /* padding: 30px; */
  grid-template-columns: 30px repeat(4,auto) 30px;
  grid-template-rows: 100px 30px 40px auto repeat(16, auto) repeat(3, auto);
  grid-gap: 10px;
}

.menu-container > img {
  display: block;
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
}
.menu-container > div {
  border-radius: 10px;
}
/* .special{
  height: 200%;
} */


/* .recommendation {
  grid-column: 2 / span 4;
  grid-row: 4;
  overflow: hidden;
} */

#creme_brulee{
  grid-row: 5 / 7;
  grid-column: 2 / 4;
}

#brown_sugar_latte{
  grid-row: 5 / 6;
  grid-column: 4;
}

#red_ninja_milk{
  grid-row: 5 / 6;
  grid-column: 5;
}
#teaninja_logo_circle_milk{
  grid-row: 6 / 7;
  grid-column: 4;
}
#yellow_ninja_milk{
  grid-row: 6 / 7;
  grid-column: 5;
}


#grapefruit_slush{
  grid-column: 4 / 6;
  grid-row: 7 / 9;
}
#cappuccino_slush{
  grid-column: 2;
  grid-row: 7;
}
#chocolate_banana_slush{
  grid-column: 3;
  grid-row: 8;
}
#teaninja_logo_circle_slush{
  grid-column: 2;
  grid-row: 8;
}
.color-block-slush{
  background-color: #ffbf00;
  grid-column: 3;
  grid-row: 7;
}
#pinacolada_slush{
  grid-column: 2 / 4;
  grid-row: 9 / 11;
}
#mango_slush{
  grid-column: 4;
  grid-row: 9;
}
#purple_preo{
  grid-column: 5;
  grid-row: 9;
}
#strawberry_banana_slush{
  grid-column: 5;
  grid-row: 10;
}
.color-block-slush-2{
  background-color: #FE9A9A;
  grid-column: 4;
  grid-row: 10;
}

#strawberry_lemonjade{
  grid-column: 4 / 6;
  grid-row: 11 / 13;
}
#passion_fruit_lemonjade{
  grid-column: 3;
  grid-row: 11;
}
#lychee_oolong{
  grid-column: 2;
  grid-row: 12;
}
#peach_oolong{
  grid-column: 3;
  grid-row: 12;
}
.color-block-fruit{
  background-color: #ffbf00;
  grid-column: 2;
  grid-row: 11;
}
#peach_ice_jelly{
  grid-column: 2 / 4;
  grid-row: 13 / 15;
}
#passion_fruit_qq{
  grid-column: 4;
  grid-row: 13;
}
#teaninja_logo_circle_fruit{
  grid-column: 5;
  grid-row: 13;
}
#lychee_qq{
  grid-column: 4;
  grid-row: 14;
}
#rose_strawberry_tea{
  grid-column: 5;
  grid-row: 14;
}


#three_q_milk_tea{
  grid-column: 4 / 6;
  grid-row: 15 / 17;
}
#chocolate_oreo_milk_tea{
  grid-column: 2;
  grid-row: 15
}
#oolong_milk_tea{
  grid-column: 2;
  grid-row: 16;
}
#pudding_milk_tea{
  grid-column: 3;
  grid-row: 16;
}
#teaninja_logo_circle_milktea{
  grid-column: 3;
  grid-row: 15;
}
#red_bean_matcha{
  grid-column: 2 / 4;
  grid-row: 17 / 19;
}
#caramel_macchiato{
  grid-column: 4;
  grid-row: 17;
}
#taro_milk_tea{
  grid-column: 5;
  grid-row: 17;
}
#thai_milk_tea{
  grid-column: 4;
  grid-row: 18;
}
.color-block-milktea{
  background-color: #ffbf00;
  grid-column: 5;
  grid-row: 18;
}



#roasted_oolong_float{
  grid-column: 4 / 6;
  grid-row: 19 / 21;
}
#teaninja_logo_circle_float{
  grid-column: 2;
  grid-row: 19;
}
#earl_grey_float{
  grid-column: 3;
  grid-row: 19;
}
#jasmine_float{
  grid-column: 3;
  grid-row: 20;
}
.color-block-float{
  background-color: #FE9A9A;
  grid-column: 2;
  grid-row: 20;
}

.toppings{
  grid-column: 2 / -2;
  grid-row: 21;
}
.sugar-level{
  grid-column: 2 / -2;
  grid-row: 22;
}
.ice-level{
  grid-column: 2 / -2;
  grid-row: 23;
}


.menu-small{
  /* visibility: collapse; */
  display: none;
}


    /* Gallery */


.gallery-row img {
  /* flex: 50%; */
  max-width: 48.5%;
  margin: 4px;
}

  /*location&Contact*/
  iframe {
    display: inline-block;
  }
  .open {
    display: none;
  }
  .lc-container{
    display: grid;
    grid-template-columns: 70px 2fr 25px 1fr 70px;
    grid-template-rows: 100px auto auto 15px;
    width: 100%;
  }

  .location{
    grid-column: 2 / 3;
    grid-row: 2 / 4;

  }
  .hours{
    grid-column: 4 / 5;
    grid-row: 2;
  }
  .contact{
    grid-column: 4 / 5;
    grid-row: 3;
  }

}


@media screen and (min-width: 1080px) {
  .skip a{
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
  }

  /* About */

    .about-container{
      grid-template-columns: 70px 1fr 70px 1fr 70px;
      grid-template-rows: 100px auto auto auto 70px;

    }
    .ad{
      background-image: url("../images/teaninja_decorative_wall_pacman.jpg");
      height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-row: 2;
      grid-column: 2 / -2;
    }

    .slogan{

      grid-column: 1 / -1;
      grid-row: 1;

    }

    footer{
      grid-column: 1 / -1;
      grid-row: 5;

    }

    #intro-1 {
      grid-column: 2 / 3;
      grid-row: 3
    }
    #intro-2 {
      grid-column: 4 / 5;
      grid-row: 3;
    }
    #intro-3 {
      grid-column: 2 / 5;
      grid-row: 4;
    }



  /* flip card*/

.flip-card{
  text-align: center;
}
/* flip-card-1 */
.flip-card-1 {
    perspective: 1000px;
    display: inline-block;
    text-align: center;

}
.flip-card-inner-1{
  transition: 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-1, .flip-card-front-1, .flip-card-back-1 {
  width: 26vw;
  height: 300px;
  /* vertical-align: middle; */
}
.flip-card-front-1{
  background-image: url("../images/teaninja_drink_brown_sugar_creme_brulee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.flip-card-front-1 p {
  font-size: 36px;
  color: #FE9A9A;
  margin: 120px 90px;
  border-radius: 4px;
  background: rgba(69, 69, 69, 0.6);
}
.flip-card-back-1 {
  transform: rotateY(180deg);
  background-color: #454545;
  color:#ffbf00 ;
}
.flip-card-back-1 p{
  margin: 100px 20px;
}

.flip-card-1:hover .flip-card-inner-1{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.flip-card-1:focus .flip-card-inner-1{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.flip-card-front-1, .flip-card-back-1 {
	backface-visibility: hidden;
	position: absolute;
  left: 0;
  top: 0;
}
/* flip-card-2 */
.flip-card-2 {
    perspective: 1000px;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
}
.flip-card-inner-2{
  transition: 0.6s;
  transform-style: preserve-3d;
  /* position: absolute;
  top:0;
  left: 310px; */
}
.flip-card-inner-2, .flip-card-front-2, .flip-card-back-2 {
  width: 26vw;
  height: 300px;
}
.flip-card-front-2{
  background-image: url("../images/teaninja_drink_brown_sugar_milk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.flip-card-front-2 p {
  font-size: 36px;
  color: #FE9A9A;
  margin: 120px 70px;
  border-radius: 4px;
  background: rgba(69, 69, 69, 0.6);
}
.flip-card-back-2 {
  transform: rotateY(180deg);
  background-color: #454545;
  color:#ffbf00 ;
}
.flip-card-back-2 p{
  margin: 50px 20px;
}
.flip-card-2:hover .flip-card-inner-2{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.flip-card-2:focus .flip-card-inner-2{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.flip-card-front-2, .flip-card-back-2 {
	backface-visibility: hidden;
	position: absolute;
  left: 0;
  top: 0;
}
/* flip-card-3 */
.flip-card-3 {
    perspective: 1000px;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
}
.flip-card-inner-3{
  transition: 0.6s;
  transform-style: preserve-3d;
  /* position: absolute;
  top: 0;
  left: 620px; */
}
.flip-card-inner-3, .flip-card-front-3, .flip-card-back-3 {
  width: 26vw;
  height: 300px;
}
.flip-card-front-3 {
  background-color: #454545;
  background-image: url("../images/teaninja_drink_chocolate_milk_tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.flip-card-front-3 p {
  font-size: 36px;
  color: #FE9A9A;
  margin: 120px 90px;
  border-radius: 4px;
  background: rgba(69, 69, 69, 0.6);

}

.flip-card-back-3 {
  transform: rotateY(180deg);
  background-color: #454545;
  color:#ffbf00 ;
}
.flip-card-back-3 p{
  margin: 80px 20px;
}
.flip-card-3:hover .flip-card-inner-3{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.flip-card-3:focus .flip-card-inner-3{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.flip-card-front-3, .flip-card-back-3 {
	backface-visibility: hidden;
	position: absolute;
  left: 0;
  top: 0;
}





  /* Gallery */
  .gallery-row img {
    /* flex: 25%; */
    max-width: 24.3%;

  }
  /*location&Contact*/
  iframe {
    display: inline-block;
  }
  .open {
    display: none;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s none;
    transition: top 1s none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
